*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: auto;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background7.jpg);
    background-size: cover;
}

.navbar{
    width: 100%;
    margin: cover;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background: #2B547E;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.list{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.list .title{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.list .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.list .container .product{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #2B547E;
    outline-offset: -1.5rem;
}

.list .container .product img{
    height: 10rem;
    background-color: #fff;
}

.list .container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}

.list .container .product:hover img{
    transform: scale(1.1);
}

.list .container .product h3{
    font-size: 1rem;
    padding: 2rem 0;
    color: #444;
    background: #fff;
}

.list .container .product p{
    font-size: .75rem;
    padding: 1rem 0;
    color: #444;
    background-color: #fff;
}

.list .container .product .price{
    font-size: 1rem;
    color: #444;
    background-color: #fff;
}

.list .container .product .button{
    width: 100px;
    padding: 10px 0;
    margin: 20px 10px;
    border-radius: 20rem;
    font-weight: bold;
    border: 2px solid #2B547E;
    background-color: #fff;
}

.list .container .product:hover h3{
    color: #2B547E;
}

.list .container .product .button:hover{
    outline: .1rem solid orangered;
    outline-offset: 0;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: #fff;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    bottom: 0; left: 0; right: 0;
}

.foot h3{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1rem;
}

.foot p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 25px;
    font-size: 14px;
}

.bawah{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.bawah p{
    font-size: 10px;
    word-spacing: 2px;
}