*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: cover;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background: #2B547E;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.form{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 700px;
    transform: translate(-50%, -50%);
}

.form h1{
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
    color: #fff;
}

.form p{
    font-size: 15px;
    margin: 10px 0;
    color: #fff;
}

.form input{
    font-size: 15px;
    padding: 15px 10px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    outline: #2B547E;
}

.form .loginas .login-as{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.form .loginas .category{
    display: flex;
    width: 80%;
    margin: 10px 0;
    justify-content: space-between;
}

.loginas .category label{
    display: flex;
    align-items: center;
    color: #fff;
}

.loginas .category .dot{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background: #d9d9d9;
    border-radius: 50%;
    border: 2px solid #2B547E;
    transition: 0.1s;
}

#dot-1:checked ~ .category .satu,
#dot-2:checked ~ .category .dua{
    border-color: #d9d9d9;
    background: #2B547E;
}

.form input[type="radio"]{
    display: none;
}

.form button{
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 15px;
    margin: 10px 0;
    width: 20%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

.form button:hover{
    color: #2B547E;
}